---
- name: Copy deployer.config.yaml
  become: True
  become_user: wildfly
  template:
    src: deployer.config.yaml
    dest: /opt/wildfly/standalone/configuration/
  notify:
  - restart deployer

- name: Copy deployer.root.bundle
  become: True
  become_user: wildfly
  template:
    src: deployer.root.bundle
    dest: /opt/wildfly/standalone/configuration/

- name: Download & install deployer.war
  maven_artifact:
    group_id: com.github.t1
    artifact_id: deployer
    version: '{{ deployer_version }}'
    extension: war
    verify_checksum: always
    repository_url: https://dl.bintray.com/t1/javaee-helpers/
    dest: '{{ deployments_dir }}/deployer.war'
  become: True
  become_user: wildfly

- name: wait for deployer to be alive
  wait_for:
    path: '{{ application_server_home }}/standalone/log/deployer.log'
    search_regex: 'applied startup anonymous'
    timeout: 30
